html
    head
        title= title
    body
        h1= message
        h2= "Lista de nomes cadastrada no banco de dados"
        ul
            each name, index in names
                li= name

